@import "../components/mixins.scss";

.about-us-first-section {
  height: 240px;
}

.about-us-banner {
  background-color: black;
  color: white;
  margin-top: 14rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  min-width: 100%;
}

.about-us-main-section {
  h2 {
    text-align: left;
    padding-left: 4rem;
  }
  p {
    padding: 2rem 4rem 4rem 4rem;
    text-align: left;
  }
}

.about-1 {
  padding-top: 3rem;
  width: 70%;
  img {
    border: 1px solid;
    border-radius: 50%;
    height: 250px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 250px;
  }
}

.about-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  img {
    border-radius: 50%;
    height: 175px;
    margin-bottom: 4rem;
    position: relative;
    width: 175px;
  }
}

.about-founder {
  padding: 2rem 2rem 2rem 4rem;
  img {
    float: left;
    height: 350px;
    margin-right: 2rem;
    width: 250px;
  }
  h2 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 4rem;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .about-us-main-section {
    h2 {
      padding-left: 2rem;
    }
    p {
      padding: 2rem;
    }
  }

  .about-1 {
    width: 65%;
    img {
      height: 150px;
      width: 150px;
    }
  }
  .about-2 {
    width: 35%;
  }

  .about-founder {
    h2 {
      padding-left: 0rem;
    }
    img {
      height: 300px;
      margin-top: 1.5rem;
      width: 210px;
    }
    p {
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 550px) {
  .about-1 {
    width: 100%;
  }
  .about-2 {
    display: none;
  }
  .about-founder {
    padding: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .about-founder {
    padding: 2rem;
    img {
      float: none;
    }
    p {
      margin-top: 3rem;
    }
  }
}

@media only screen and (max-width: 265px) {
  .about-us-main-section {
    font-size: 10px;
  }

  .about-founder {
    font-size: 10px;
  }

  .about-founder {
    h2 {
      padding-left: 0rem;
    }
    img {
      height: 200px;
      margin-top: 1.5rem;
      width: 130px;
    }
    p {
      margin-top: 1rem;
    }
  }
}
