@import "../components/mixins.scss";

.App {
  background: rgb(248, 2, 249);
  background: linear-gradient(
    270deg,
    rgba(248, 2, 249, 0.09987745098039214) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(248, 2, 249, 0.09987745098039214) 100%
  );
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px) {
  .footer-links {
    width: 35%;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    justify-content: space-between;
    @include shadow;
  }

  .footer-logo {
    height: 150px;
    width: 150px;
  }
  .footer-links {
    width: 60%;
  }
  .footer-links a {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    margin: 0 auto;
    padding-bottom: 2rem;
    width: 65%;
  }
}

@media only screen and (max-width: 400px) {
  .footer-links button {
    display: none;
  }

  .footer-links {
    justify-content: center;
    width: 100%;
  }
}