@import "../components/mixins.scss";
@import "../components/variables.scss";

.App {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  p {
    word-break: break-word;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.footer {
  background: black;
  color: white;
  .footer-logo {
    border-radius: 50%;
  }
  .footer-contact {
    display: flex;
    flex: row;
    padding: 0.5rem;
    img {
      z-index: 1000;
    }
    span {
      margin-left: 1.5rem;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $idance-btn-colour;
        }
      }
    }
  }
  ul li {
    list-style-type: none;
    padding: 0.8rem;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: $idance-btn-colour;
      }
    }
  }
}

.registration-form {
  padding-top: 160px;
}

.footer-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 892px) {
  .footer-first {
    flex-direction: column !important;
    text-align: center;
  }
  .footer-list {
    .hider {
      height: 0px;
      margin: 0px;
      visibility: hidden;
      width: 0px;
    }
    ul {
      padding-right: 2rem !important;
      li {
        padding: 1px;
        margin-bottom: 0px;
      }
    }
  }
  .footer-contact {
    justify-content: center;
    span {
      margin-left: 0rem !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    justify-content: space-between;
  }
  .footer-links {
    justify-content: flex-end;
    width: 50%;
  }
  .footer-links a {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links img {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .footer-links button {
    display: none;
  }

  .footer-links {
    width: 100%;
  }
}

@media only screen and (max-width: 369px) {
  .footer-contact img {
    height: 0px;
    visibility: hidden;
    width: 0px;
  }
  .footer {
    font-size: 0.7rem;
  }
  .footer-links a {
    margin-right: 2px;
  }
}
