@import "../components/mixins.scss";

.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background: black;
  color: white;
  .footer-logo {
    border-radius: 50%;
  }
  .footer-contact {
    display: flex;
    flex: row;
    padding: 0.5rem;
    img {
      z-index: 1000;
    }
    span {
      margin-left: 1.5rem;
    }
  }
  ul li {
    list-style-type: none;
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 845px) {
  .footer-first {
    flex-direction: column !important;
    text-align: center;
  }
  .footer-list ul {
    padding-right: 2rem !important;
  }
  .footer-contact {
    justify-content: center;
    span {
      margin-left: 0rem !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    justify-content: space-between;
  }
  .footer-links {
    justify-content: flex-end;
    width: 50%;
  }
  .footer-links a {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links img {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .footer-links button {
    display: none;
  }

  .footer-links {
    width: 100%;
  }
}

@media only screen and (max-width: 352px) {
  .footer-contact img {
    height: 0px;
    visibility: hidden;
    width: 0px;
  }
  .footer {
    font-size: 0.7rem;
  }
  .footer-links a {
    margin-right: 2px;
  }
}
