@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import "../components/mixins.scss";
@import "../components/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

.homepage-first {
  height: 800px;
  position: relative;
  top: 0;
  z-index: 100;
}

.slider {
  height: 800px;
}

.homepage-first-heading-text {
  border-radius: 7px;
  color: $opening-section-color;
  font-family: "Style Script", cursive;
  font-size: 2rem;
  height: 65%;
  left: 20%;
  margin-top: 50px;
  padding: 1.75rem;
  position: absolute;
  text-align: center;
  top: 9.5rem;
  width: 65%;
  z-index: 100;
  h3 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  p {
    padding-bottom: 30px;
  }
  .enroll {
    font-size: 2.5rem;
  }
  .learn-more {
    background-color: transparent;
    border-radius: 7px;
    color: white;
    @include shadow;
    &:hover {
      background-color: rgba(255, 255, 255, 0.664);
      color: #b300b3;
      transition: all 0.5s ease-in-out;
    }
  }
}

.homepage-second {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(83, 80, 83, 0.73)
    ),
    url("https://drive.google.com/uc?export=view&id=16YcabxtLeBuOskSUFiWtzNSkfgOdRFoN");
  background-position: 20% -30%;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 7rem 12rem 30rem 12rem;
}

.heading-container {
  margin-top: 5rem;
  width: 25%;
}

.mission {
  margin: 0 auto;
  width: 70%;
}

.heading-border {
  border-bottom: 1px solid #b300b3;
}

.join-us {
  height: 500px;
}
.img-1 {
  background-image: url("https://www.dropbox.com/s/vpzxbai48v0y073/courtney-r-andrews-u5MXF-5y1Ck-unsplash.jpg?raw=1");
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  @include shadow;
}
.img-2 {
  background-image: url("https://www.dropbox.com/s/fa2jy3r2tbrzfac/morgan-petroski-LsMxdW1zWEQ-unsplash.jpg?raw=1");
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  @include shadow;
}
.img-3 {
  background-image: url("https://www.dropbox.com/s/wzc0gjwluknwyem/samantha-weisburg-Vgj9bUwaqT0-unsplash.jpg?raw=1");
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  @include shadow;
}

.aligner {
  position: relative;
  top: 7rem;
}

.class-div {
  @include shadow;
}

.class-first {
  background-color: white;
  height: 350px;
}

.class-second {
  background-color: black;
  height: 200px;
}

.register-btn {
  border-radius: 10px;
  @include idance-btn;
}

iframe {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
  .homepage-second {
    padding: 12rem 5rem 12rem 5rem;
  }

  .heading-container {
    width: 50%;
  }

  .mission {
    width: 75%;
  }

  .class-first {
    height: 300px;
  }

  .class-second {
    height: 125px;
  }
}

@media only screen and (max-width: 992px) {
  .heading-container {
    margin-top: 10rem;
  }
  .class-first {
    height: 325px;
  }
  .class-second {
    flex-direction: column !important;
    height: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .homepage-first {
    height: 610px;
  }

  .slider {
    height: 610px;
  }

  .homepage-first-heading-text {
    left: 5%;
    padding: 0rem;
    width: 95%;
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.75rem;
      padding-bottom: 15px;
    }
    .enroll {
      font-size: 1.75rem;
    }
  }

  .homepage-second {
    padding: 10rem 0.5rem 10rem 0.5rem;
  }

  .aligner {
    height: 300px;
  }
  .reverser {
    align-content: center;
    display: inline-flex;
    flex-direction: column-reverse !important;
  }

  iframe {
    width: 75%;
  }
}

@media only screen and (max-width: 575px) {
  .homepage-first-heading-text {
    left: 5%;
  }
  .join-us {
    height: 250px;
    margin-bottom: 50px;
    width: 75%;
  }

  .join-us-text {
    height: auto;
    word-break: break-all;
    white-space: pre-wrap;
    width: 75%;
  }

  .aligner {
    top: 0rem;
  }

  .class-div {
    width: 75%;
  }

  .class-first {
    height: 250px;
  }

  .class-second {
    flex-direction: column !important;
    height: 325px;
    padding: 0.5rem;
  }

  iframe {
    height: 350px !important;
  }
}

@media only screen and (max-width: 340px) {
  .dance-breakdown {
    display: none;
  }
  iframe {
    height: 250px !important;
  }
}

@media only screen and (max-width: 272px) {
  .homepage-first-heading-text {
    font-size: 0.75rem;
    height: 40%;
    p {
      padding-bottom: 25px;
    }
    .enroll {
      display: none;
    }
    .learn-more {
      padding: 0.25rem;
    }
  }

  .register-btn {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .join-us {
    margin-bottom: 0px;
  }

  .aligner {
    top: 1rem;
  }

  .heading-container {
    width: 90%;
  }
}
