@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.homepage-first {
  position: relative;
  top: 0;
  z-index: 100;
}

.homepage-first-heading-text {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  margin-top: 50px;
  position: absolute;
  top: 10rem;
  text-align: left;
  z-index: 100;
  h3 {
    font-size: 4rem;
    padding-bottom: 3rem;
  }
  p {
    padding-bottom: 50px;
  }
  .learn-more {
    background-color: transparent;
    border-radius: 5px;
  }
}

.homepage-second {
  background-image: url("../images/alireza-dolati-eqLEGlP8tO4-unsplash.jpg");
  background-position: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 16rem 7rem 16rem 7rem;
}

.dance-silhoutte-1 {
  position: relative;
  left: 6rem;
  top: 115%;
}

.dance-silhoutte-2 {
  position: relative;
  right: 6rem;
  top: 115%;
}

.heading-border {
  border-bottom: 1px solid #b300b3;
}

.join-us {
  height: 500px;
}
.img-1 {
  background-image: url("../images/courtney-r-andrews-u5MXF-5y1Ck-unsplash.jpg");
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-2 {
  background-image: url("../images/morgan-petroski-LsMxdW1zWEQ-unsplash.jpg");
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-3 {
  background-image: url("../images/samantha-weisburg-Vgj9bUwaqT0-unsplash.jpg");
  background-position: 100% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.aligner {
  display: grid;
  place-items: center;
}

.class-first {
  background-color: white;
  height: 350px;
}

.class-second {
  background-color: black;
  height: 150px;
}

.btn-youth {
  background-color: pink;
  &:hover {
    background-color: rgb(212, 160, 169);
  }
}
.btn-modern {
  background-color: purple;
  color: white;
  &:hover {
    // background-color: green;
    background-color: rgb(185, 51, 185);
    color: black;
  }
}
.btn-jazz {
  background-color: white;
  &:hover {
    background-color: rgb(153, 151, 151);
    color: white;
  }
}
