@import "../components/mixins.scss";

.services-section {
  padding-top: 160px;
  h2 {
    margin-left: 2rem;
  }
  .service-link {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    @include background-sizer;
    @include shadow;
    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: #b300b3;
      }
    }
  }
}

#ballet-link {
  background-image: url('../images/ballet-service-1.jpeg');
}
#dance-link {
  background-image: url('../images/dance-service-1.jpeg');
}
#jazz-link {
  background-image: url('../images/jazz-service-1.jpeg');
}
#modern-link {
  background-image: url('../images/modern-service-1.jpeg');
}
#grad-link {
  background-image: url('../images/grad-service-1.jpeg');
}
#wed-link {
  background-image: url('../images/wed-service-1.jpeg');
}
#misc-link {
  background-image: url('../images/misc-service-1.jpeg');
}

.additionals {
  margin-bottom: 9rem;
}

h3 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 30px;
  text-align: left;
}

.class {
  padding: 200px 3rem 3rem 3rem;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 75%;
  img {
    border-radius: 50%;
    height: 250px;
    margin-bottom: 50px;
    width: 250px;
  }
  p {
    text-align: left;
  }
}

.class-grouping {
  border: 1px solid;
  border-radius: 12px;
  margin-bottom: 3rem;
  p {
    padding: 2rem;
  }
}
.class-description {
  padding: 2rem 5rem 2rem 5rem;
}
.package-description {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 1122px) {
  .services-section .service-link {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 924px) {
  .services-section .service-link {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .services-section .service-link {
    height: 250px;
    margin-bottom: 30px;
    width: 250px;
  }
  .class {
    width: 95%;
  }
  .additionals {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 580px) {
  .class-description {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .services-section .service-link {
    height: 150px;
    margin-bottom: 30px;
    width: 150px;
  }

  .class {
    width: 95%;
    img {
      height: 150px;
      width: 150px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .class {
    padding: 0rem;
    margin-top: 200px;
  }
}
